
    <div class="super-image"></div>
    <div class="jsplus">
    <div class="Presentation">
        <h2>Qui suis-je ?</h2>
            <p>Bonjour, je m'appelle Elouan, j'ai 16 ans et je suis passioné par l'audiovisuel et les nouvelles technologies. 
                Je fais des vidéos sur <a href="https://www.youtube.com/channel/UCRepo8RQ2j97XAHaLz24eVg?view_as=subscriber" target="_blank" title="Chaîne Youtube">Youtube</a> 
                qui sont assez variées (Unboxing de produits technologique, présentation de produits technologiques, c'est rare mais du sport aussi, 
                et plein d'autres choses comme prendre des trains au hasard). Et je fais des streams sur <a href="https://www.twitch.tv/tyranixtv" target="_blank" title="Chaîne Twitch">Twitch</a> 
                sur la chaîne TyranixTV. De plus je fais des études en rapport avec l'informatique (apprenti informaticien).
            </p>
        <br class="nonjamais">
        <h2>TyranixTV</h2>
        <p>La chaîne twitch <a href="https://www.twitch.tv/tyranixtv" target="_blank" title="Chaîne Twitch"><b>TyranixTV</b></a> est une chaîne Twitch multi-streamers. 
            Le groupe TyranixTV comprend cinq personnes. D'abord les deux fondateurs : 
            <a href="https://twitter.com/azertycraftgame" target="_blank" title="Twitter de Nicolas"><b>Nicolas</b></a> et 
            <a href="https://www.twitter.com/Elouuaan" target="_blank" title="Twitter Elouan"><b>Elouan</b></a> (donc moi xD). Viens ensuite les deux autres streamers :
            <a href="https://www.twitter.com/AzumarineTV" target="_blank" title="Twitter Marine"><b>Marine</b></a> et 
            <a href="https://www.instagram.com/nonotop15" target="_blank" title="Instagram de Noa"><b>Noa</b></a> appelés les streameurs de secours (car ils ne streament
            quasi-jamais). Viens enfin la meilleure catégorie, celle du viewer++, qui ne compte que un membre. Ce membre c'est <a href="https://www.instagram.com/drini.du" target="_blank" title="Instagram Drini"><b>Drini</b></a>.
            Il a été nommé viewer++ car il n'a jamais streamer (fin si une fois 10min mais chut).
        </p>
        <br class="nonjamais">
        <h2>Pourquoi avoir créé ce site web ?</h2>
        <p>J'ai créer ce site web pour rassembler les différentes activitées que j'effectues sur Internet. De plus
            je vais souvent mettre à jour ce site web et ajouter de nouvelles pages en fonction de mes activités. Par 
            exemple, je vais sûrement créer tout bientôt une page orientée sport car j'ai prévu de commencer à prendre
            soin de mon corps. Stay tuned :)
        </p>
        <br class="nonjamais">
        <h2>Besoin d'un régisseur pour un événement ?</h2>
        <p>Ayant de bonnes connaissances en streaming et en logiciel de streaming, je peux sans aucun problème venir faire régisseur pour vos lives/événements.
        Très bonnes connaissances sur OBS Studio (Paramétrages, multi-scènes, NDI, ect), quelques connaissances sur vMix. N'hésitez pas à me contacter pour plus d'information
        en <a href="contact.html">cliquant ici </a>ou en m'envoyant<a href="mailto:contact@elouan-media.ch"> un mail.</a>
        <br class="nonjamais">
        <br class="nonjamais">
    </br>
</div>
</div>
<div  class="imagepresentation">
    <img src="https://instagram.fqls2-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/80849041_172282587197707_940995513281622754_n.jpg?_nc_ht=instagram.fqls2-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=QGi8KBUtQSAAX8lnEGt&oh=46f2e8f249baead3421cc9e2b5d4a6d2&oe=5E8B7928" width="25%">
</div>